@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "swiper/css";

@theme {
  --color-website-color-black: #212a31;
  --color-website-color-darkGray: #2e3944;
  --color-website-color-lightGray: #d3d9d4;
  --color-website-color-green: #124e66;
  --color-website-color-lightGreen: #748d92;

  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
  --color-primary-orange: #ef6820;
  --color-heading-blue: #194185;
  --color-paragraph-gray: #717680;
  --color-primary-border: #b2ddff;
}

@layer base {
  body {
    @apply font-sans;
  }
}

/* body {
  width: 1440px;
  margin: 0 auto;
} */

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #f97316; /* orange-500 */
  opacity: 0.3;
  border-radius: 9999px;
  transition: all 0.3s ease;
}
.custom-pagination .swiper-pagination-bullet-active {
  opacity: 1;
  width: 10px;
  height: 10px;
}

/* Global styles for all number inputs (hide spinners) */

input[type="number"] {
  appearance: textfield; /* ✅ Standard property */
  -moz-appearance: textfield; /* ✅ Firefox */
  -webkit-appearance: none; /* ✅ Chrome, Safari, Edge */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none; /* ✅ Standard */
  -webkit-appearance: none; /* ✅ Chrome, Safari, Edge */
  margin: 0;
}
